data/chroma_day41/
data/chroma_day41/
data/chroma_day42_audit/
data/chroma_day43/
data/chroma_day43/

**/chroma_*/
**/data/chroma_*/
data/chroma_day44/

**/chroma_*/
**/data/chroma_*/
data/chroma_day45/
data/chroma_day45/
data/chroma_day46/
data/chroma_day47/
data/chroma_day48/
data/chroma_day48/
